<h1>ユーザーページ</h1>

<% if signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>


<div>
  <%= link_to "フォロー(#{@user.followings.count})", followings_user_path(@user), class: "nav-link" %>
  <%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user), class: "nav-link" %>
</div>

<div>
  <%= attachment_image_tag @user, :image, :fill, 80, 80, format:'jpeg', fallback: "no_image.jpg" %>
  <p>ハンドルネーム</p>
  <%= @user.name %>
  <P>自己紹介</P>
  <%= @user.introduction %>
</div>
  <div>
    <% if @user.id == current_user.id %>
      <%=link_to "編集する", edit_user_path, class: "btn btn-success" %>
    <% end %>
  </div>
  
  

<div>
  <% @items.each do |item| %>
    <%= item.title %>
    <%= item.detail %>
    <%= attachment_image_tag item, :photo, :fill, 200, 150, format:'jpeg' %>
  <% end %>
</div>

<%#paginate @item %>
