<div class="container">
  <h1>ユーザーページ</h1>
  <div>
    <%= attachment_image_tag @user, :image, :fill, 80, 80, format:'jpeg', fallback: "no_image.jpg" %>
    <p>ハンドルネーム</p>
    <%= @user.name %>
    <P>自己紹介</P>
    <%= @user.introduction %>
  </div>
    <% if @user.id == current_user.id %>
      <%=link_to "編集する", edit_user_path, class: "btn btn-success" %>
    <% end %>
    
  
  <div>
    <% @items.each do |item| %>
      <%= item.title %>
      <%= item.detail %>
      <%= attachment_image_tag item, :photo, :fill, 200, 150, format:'jpeg' %>
    <% end %>
  </div>

<%#paginate @item %>

</div>