<div class="container">
  <h2 class="title">ユーザーページ</h2>

  <div class="row">
    <div class="col-lg-3">
      <%= attachment_image_tag @user, :image, :fill, 200, 200, format:'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-lg-5">
      <p><strong>ハンドルネーム</strong></p>
      <div class="name"><strong><%= @user.name %></strong></div>
      <p><strong>自己紹介</strong></p>
      <div class="intro">
        <p><%= @user.introduction %></p>
      </div>
    </div>

    <% if signed_in? && @user != current_user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render "unfollow" %>
        <% else %>
          <%= render "follow" %>
        <% end %>
      </div>
    <% end %>


    <div class="col-2">
      <strong><%= link_to "フォロー(#{@user.followings.count})", followings_user_path(@user), class: "nav-link" %></strong>
      <strong><%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user), class: "nav-link" %></strong>
    </div>

    <div class="col-2">
      <% if @user.id == current_user.id %>
        <%=link_to " 編集する ", edit_user_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-1">
      <table>
        <% @items.each do |item| %>
        <tr>
          <td class="post_name">
          <%= link_to item_path(item) do %>
            <%= item.title %>
          <% end %>
          </td>
          <td class="post_detail">
            <%= item.detail %>
          </td>
          <td>
            <%= attachment_image_tag item, :photo, :fill, 200, 150, format:'jpeg', fallback: "no_photo.jpg" %>
          </td>
        </tr>
        <% end %>
        <%= paginate @items %>
      </table>
    </div>
  </div>
</div>