<div class="space"></div>
<div class="container-lg">
  <% if @item.errors.any? %>
    <%= @item.errors.count %>件のエラーがあります。<br>
    <% @item.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-8 offset-2">
    <div class="form">
      <%= form_with model: @item, local:true do |f| %>
      <div class="row">
        <div class="col-3 offset-1">
          <p>写真を添付する</p>
        </div>
        <div class="col-3">
          <%= f.attachment_field :photo %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">
          <%= f.label :タイトル %>
        </div>
        <div class="col-3">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">
          <%= f.label :紹介する %>
        </div>
        <div class="col-5 col-sm-3">
          <%= f.text_area :detail, size: "40×10" %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 offset-4">
        <%= f.submit "シェアする", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
